@model WebAPI.Models.StoreDBContext1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    
    @foreach(var item in Model.SVR_STORE)
    {

    }
</body>
</html>
