USE [master]
GO
/****** Object:  Database [Webmvc]    Script Date: 29/05/2020 14:54:37 ******/
CREATE DATABASE [Webmvc]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Webmvc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Webmvc]
GO
/****** Object:  Table [SVR_BUMON]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_BUMON](
	[BUMON_ID] [int] NOT NULL,
	[BUMON_CD] [varchar](10) NULL,
	[BUMON_NAME] [varchar](100) NULL,
	[COMPANY_ID] [int] NULL,
	[INSERT_DATE] [datetime] NULL,
	[INSERT_USER] [varchar](20) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
	[DEL_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BUMON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SVR_COMPANY]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_COMPANY](
	[COMPANY_ID] [int] NOT NULL,
	[COMPANY_CD] [varchar](10) NULL,
	[COMPANY_NAME] [varchar](100) NULL,
	[INSERT_DATE] [datetime] NULL,
	[INSERT_USER] [varchar](20) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
	[DEL_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SVR_DEVICE]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_DEVICE](
	[IMEI] [varchar](15) NOT NULL,
	[TOKEN] [varchar](100) NULL,
	[MODEL] [varchar](100) NULL,
	[MAKER] [varchar](100) NULL,
	[INSERT_DATE] [datetime] NULL,
	[INSERT_USER] [varchar](20) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
	[DEL_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SVR_STORE]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_STORE](
	[STORE_CD] [varchar](10) NOT NULL,
	[STORE_NAME] [varchar](100) NULL,
	[INSERT_DATE] [datetime] NULL,
	[INSERT_USER] [varchar](20) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
	[DEL_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[STORE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SVR_USER]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_USER](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](100) NULL,
	[COMPANY_ID] [int] NULL,
	[BUMON_ID] [int] NULL,
	[INSERT_DATE] [datetime] NULL,
	[INSERT_USER] [varchar](20) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
	[DEL_FLAG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SVR_VIEW]    Script Date: 29/05/2020 14:54:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SVR_VIEW](
	[LOG_ID] [int] NOT NULL,
	[IMEI] [varchar](15) NULL,
	[BUMON_ID] [int] NULL,
	[STORE_CD] [varchar](10) NULL,
	[PRODUCT_ID] [int] NULL,
	[VIEW_DATE] [varchar](10) NULL,
	[GENDER] [numeric](18, 0) NULL,
	[AGE] [numeric](18, 0) NULL,
	[VIEWS] [numeric](18, 0) NULL,
	[INSERT_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [SVR_DEVICE] ([IMEI], [TOKEN], [MODEL], [MAKER], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'123', N'', N'vivi s5', N'Vivo', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', NULL)
INSERT [SVR_DEVICE] ([IMEI], [TOKEN], [MODEL], [MAKER], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'124', N'', N'vivi s5', N'Vivo', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', NULL)
INSERT [SVR_DEVICE] ([IMEI], [TOKEN], [MODEL], [MAKER], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'125', N'', N'VS3', N'VinaPhone', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'admin', NULL)
GO
INSERT [SVR_STORE] ([STORE_CD], [STORE_NAME], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'1001', N'AEON CELADON', CAST(N'2019-05-25T00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL)
INSERT [SVR_STORE] ([STORE_CD], [STORE_NAME], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'1002', N'AEON CANARY', CAST(N'2019-05-25T00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL)
INSERT [SVR_STORE] ([STORE_CD], [STORE_NAME], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'1003', N'AEON LONG BIEN', CAST(N'2019-05-25T00:00:00.000' AS DateTime), N'admin', NULL, NULL, NULL)
GO
INSERT [SVR_USER] ([USERNAME], [PASSWORD], [COMPANY_ID], [BUMON_ID], [INSERT_DATE], [INSERT_USER], [UPDATE_DATE], [UPDATE_USER], [DEL_FLAG]) VALUES (N'admin', N'123', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [SVR_BUMON]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [SVR_COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [SVR_USER]  WITH CHECK ADD FOREIGN KEY([BUMON_ID])
REFERENCES [SVR_BUMON] ([BUMON_ID])
GO
ALTER TABLE [SVR_USER]  WITH CHECK ADD FOREIGN KEY([COMPANY_ID])
REFERENCES [SVR_COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [SVR_VIEW]  WITH CHECK ADD FOREIGN KEY([BUMON_ID])
REFERENCES [SVR_BUMON] ([BUMON_ID])
GO
ALTER TABLE [SVR_VIEW]  WITH CHECK ADD FOREIGN KEY([IMEI])
REFERENCES [SVR_DEVICE] ([IMEI])
GO
ALTER TABLE [SVR_VIEW]  WITH CHECK ADD FOREIGN KEY([STORE_CD])
REFERENCES [SVR_STORE] ([STORE_CD])
GO
USE [master]
GO
