@Model WebAPI.Models.SVR_USER;
@{
    ViewBag.Title = "Login";
    Layout = null;

}



<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        body {
            text-align: center;
            background-color: lightcyan;
        }

        form {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
        }

        .button {
            color: white;
            background-color: royalblue;
            font-size: 20px;
        }

        .text {
            font-size: 20px;
        }
    </style>
</head>


<body>
    <form id="login" method="post">
        @*@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)*@
        <div><label><h2>Account Login</h2></label></div>
        <div>
            <input type="text" id="user" name="username" placeholder="User name" class="text" />
            @*@Html.TextBoxFor(a => a.)
            @Html.ValidationMessageFor(a => a.UserName)*@
        </div>
        <div><input type="text" id="pass" name="password" placeholder="Password" class="text" /></div>
        <div>@Html.ActionLink("SIGN IN", "ViewMain", "Home")</div>
    </form>
</body>



</html>
